<h1>Editing Resource Attachment</h1>

<%= render 'form', resource_attachment: @resource_attachment %>

<%= link_to 'Show', @resource_attachment %> |
<%= link_to 'Back', resource_path(@resource_attachment.resource_id) %>
