<br>
<div class="container">
<h1>Editing Resource Attachment</h1>
<%= link_to 'Back', resource_path(@resource_attachment.resource_id), class: "btn btn-warning" %>

<%= render 'form', resource_attachment: @resource_attachment %>


</div>
