<br>
<div class="container">
<p>
  <strong>Resource:</strong>
  <%= @plants.find(@resource_attachment.resource_id).common %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @resource_attachment.picture_url %>
</p>

<%= link_to 'Edit', edit_resource_attachment_path(@resource_attachment) %> |
<%= link_to 'Back', resource_path(@resource_attachment.resource_id) %>
</div>
