<div class="searchBar">
  <h3>Plant Database</h3>
  <%= form_tag plantdb_path, :method => 'get' do %>
    <p class="formArea">
      <%= text_field_tag :search, params[:search], :style => "color:black;" %>
      <%= button_tag(type: "submit", :name => nil, class: "btn btn-sm btn-danger") do %>
        <i class="fa fa-search"></i>
      <% end %>
      <%= link_to "All", plantdb_path, class: "btn btn-sm btn-warning" %>
      <%#= submit_tag "Search", :name => nil, class: "btn btn-danger" %>
    </p>
  <% end %>
</div>
