<div class="searchBar">
  <h3>Event Calendar</h3>
  <%= form_tag calendar_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :style => "color:black;" %>
      <%= button_tag(type: "submit", :name => nil, class: "btn btn-sm btn-danger") do %>
        <i class="fa fa-search"></i>
      <% end %>
      <%= link_to "All", calendar_path, class: "btn btn-sm btn-warning" %>
    </p>
  <% end %>
</div>
