

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="background:rgba(0,0,0,0.4);border-radius:25px;">
                        <h1 class="brand-heading">Bamboo Grove</h1>
                        <p class="intro-text">Aligning Florida with the vast world of plants and plant related events
                          <br>
                    </div>
                </div>
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Bamboo Grove</h2>
                <p>Bamboo Grove is based in Arcadia, FL where Andy Firk tends the land to better serve the community at large. It features a 2 acre food forest and a diverse plant nursery and seed stock, ready to get you growing in Florida! In addition to the plants of the land, Andy Firk leads wild edible plant walks, presents indepth lectures on wild, edible, and medicinal plants, and organizes a ton of information!</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="calendar" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
            <p>Thanks to <%= link_to "Andy Firk", new_user_session_path, :style => "color:white;" %>!</p>
        </div>
    </footer>
