<div class="container">
<p id="notice"><%= notice %></p>
<h1>Editing Plant File</h1>
<%= link_to 'Back', resource_path(@resource.id), class: "btn btn-warning" %>

<%= render 'form', resource: @resource %>
