// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showPics{
  max-width: 90%;
  height: 200px;
  border-width: 2px 2px 0px 2px;
  border-style: ridge;
  border-color: white;
  box-shadow: 0 2px 15px rgba(0,0,0,0.4);
}

.resourceBG{
  background-image: url(image-path("burlap.jpg"));
  background-size: 100%;
  border: 4px solid black;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.plantName{
  background-color: #1c4a26;
  border: 4px solid yellow;
  background-size: cover;
  font-family: 'Bookman', sans-serif;
  text-align: center;
  margin-top: 15px;
}
.plantCName{
  font-size: 2.5em;
  color: #e3eb2f;
}
.plantLName{
  font-size: 2em;
  color: white;
}

.plantPictures img{
  border: 2px solid black;
  max-width: 100%;
  height:auto;
}
.plantPictures{
  font-size: 1.5em;
  color: #f3f822;
  margin-top: 15px;
  background-color: #4e3b2a;
  border-width: 4px 4px 0px 4px;
  border-color: black;
  border-style: solid;
  text-align: center;
  overflow: hidden;
}

.picCaption{
  font-size: 1.5em;
  color: #f3f822;
  background-color: #4e3b2a;
  text-align: center;
  border-width: 0px 4px 4px 4px;
  border-color: black;
  border-style: solid;
}

.labelBox{
  border: 2px solid yellow;
  background-color: brown;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.plantDesc{
  margin-top: 15px;
  border: 4px solid black;
  background-color: #4e3b2a;
  color: #d9e502;
  font-size: 1.5em;
  padding: 5px;
}

.searchBar{
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
  background-color:#26ad79;
  z-index:2;
  text-align: center;
  .formArea{
    border-bottom: 4px solid #26ad79;
  }
}

.searchBar input::selection{
  background:gray;
}

.searchBar h3{
  margin-bottom: 5px;
}

// EDITING VIEWS
.textField{
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
}
.button_row{
  background: white;
}

.filin{
  margin: auto;
}

.changePic{
  background: #c63338;
  border: 2px solid yellow;
  color: white;
  margin: 10px;
}

.eventPoster{
  text-align: center;
  border: 3px solid black;
  width: 100%;
}

pre{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */

 border: 2px solid yellow;
 background-color: transparent;
 color: white;
}



.rotate90 {
  img{
    transform: rotate(90deg);
  }
}
  .rotate180{
    transform: rotate(180deg);
  }
  .rotate270{
    transform: rotate(270deg);
  }
